<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-prefix>
        <igx-icon class="icon">
          grid_on
        </igx-icon>
      </igx-prefix>
      <p class="text">
        Grid
      </p>
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-prefix>
        <igx-icon class="icon">
          bar_chart
        </igx-icon>
      </igx-prefix>
      <p class="text">
        Chart
      </p>
      <igx-suffix>
        <igx-icon class="icon">
          clear
        </igx-icon>
      </igx-suffix>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
</igx-tabs>
<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>grid_on</igx-icon>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>bar_chart</igx-icon>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
</igx-tabs>
<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <span igxTabHeaderLabel>Label</span>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
</igx-tabs>
<igx-tabs [disableAnimation]="true" class="tabs">
  <igx-tab-item [selected]="true" class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>grid_on</igx-icon>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
  <igx-tab-item class="tab-item">
    <igx-tab-header>
      <igx-icon igxTabHeaderIcon>bar_chart</igx-icon>
    </igx-tab-header>
    <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
  </igx-tab-item>
</igx-tabs>
