:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.tabs {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  flex-basis: 0;
}
.tab-item {
  min-width: 100%;
}
.row-layout {
  display: flex;
}
.tab-item-content {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  position: absolute;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.tab-item-content_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  overflow: auto;
  position: absolute;
  height: 100%;
  min-width: 100%;
  min-height: 50px;
}
.grid {
  min-width: 600px;
  min-height: 300px;
  flex-grow: 1;
  flex-basis: 0;
}
.calendar {
  width: max-content;
  height: max-content;
  flex-shrink: 0;
}
